/.metadata
/.recommenders
/Servers
/RemoteSystemsTempFiles
/OxygenAction/target
/OxygenDao/target
/OxygenEntity/target
/OxygenService/target
/OxygenWeb/target
/OxygenWebClient/target
/OxygenWeb/src/main/webapp/WEB-INF/upload/file/save
/OxygenWeb/src/main/webapp/WEB-INF/resources/img
