<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.econny.webapp.OxygenDao.mybatis.dao.EconnyTreeNodeDocMapper">

	<resultMap type="com.econny.webapp.OxygenEntity.TreeNodeDocEntity"
		id="treeNodeDocEntity">
		<result property="id" column="id" />
		<result property="nodeId" column="node_id" />
		<result property="fileId" column="file_id" />
		<result property="delFlag" column="del_flag" />
	</resultMap>
		
	<insert id="save" parameterType="com.econny.webapp.OxygenEntity.TreeNodeDocEntity">
		INSERT INTO node_doc (
		id,
		node_id,
		file_id,
		del_flag
		) values(
		#{id},
		#{nodeId},
		#{fileId},
		#{delFlag}
		)
	</insert>

	<delete id="delete" parameterType="com.econny.webapp.OxygenEntity.TreeNodeDocEntity">
		DELETE FROM node_doc
		where
			del_flag = 0
			<if test="id != null and id !=''">
				AND id = #{id}
			</if>
			<if test="nodeId != null and nodeId !=''">
				AND node_id = #{nodeId}
			</if>
			<if test="fileId != null and fileId !=''">
				AND file_id = #{fileId}
			</if>
	</delete>
	
	<update id="update" parameterType="com.econny.webapp.OxygenEntity.TreeNodeDocEntity">
		UPDATE node_doc
		set 
		node_id = #{nodeId},
		file_id = #{fileId}
		WHERE		
		id = #{id}
	</update>

	<select id="findList" parameterType="com.econny.webapp.OxygenEntity.TreeNodeDocEntity" resultMap="treeNodeDocEntity">
		SELECT * FROM node_doc
		WHERE
			del_flag = 0
			<if test="id != null and id !=''">
				AND id = #{id}
			</if>
			<if test="nodeId != null and nodeId !=''">
				AND node_id = #{nodeId}
			</if>
	</select>
		
</mapper>