<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.econny.webapp.OxygenDao.mybatis.dao.OauthUserMapper">
	<select id="selectUser" resultType="com.econny.webapp.OxygenEntity.OauthUserEntity">
		SELECT id, name, password
		FROM oauth_user where id = #{id}
	</select>

	<resultMap type="com.econny.webapp.OxygenEntity.OauthUserEntity"
		id="userHashEntity">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="password" column="password" />
		<result property="gender" column="gender" />
		<result property="phone_number" column="phoneNumber" />
		<result property="email" column="email" />
		<result property="description" column="description" />
		<result property="del_flag" column="delFlag" />
	</resultMap>
	
	<insert id="save" parameterType="com.econny.webapp.OxygenEntity.OauthUserEntity">
		INSERT INTO oauth_user (
		id,
		name,
		password,
		gender,
		phone_number,
		email,
		description,
		del_flag
		) values(
		#{id},
		#{name},
		#{password},
		#{gender},
		#{phoneNumber},
		#{email},
		#{description},
		#{delFlag}
		)
	</insert>
	
	<insert id="saveBatch" parameterType="com.econny.webapp.OxygenEntity.OauthUserEntity" flushCache="true"
		statementType="PREPARED" keyProperty="" keyColumn="" timeout="20">
		INSERT INTO oauth_user (
		id,
		name,
		password,
		gender,
		phone_number,
		email,
		description,
		del_flag
		) values
		<foreach item="item" collection="list" separator=",">
			(#{item.id}, #{item.name}, #{item.password}, #{item.gender}, #{item.phoneNumber}, #{item.email}, #{item.description}, #{item.delFlag})
		</foreach>
	</insert>

	<delete id="delete" parameterType="com.econny.webapp.OxygenEntity.OauthUserEntity">
		DELETE FROM oauth_user
		where
		id =
		#{id}
	</delete>
	
	<update id="update" parameterType="com.econny.webapp.OxygenEntity.OauthUserEntity">
		UPDATE oauth_user
		set 
		name = #{name},
		password = #{password},
		gender = #{gender},
		phone_number = #{phoneNumber},
		email = #{email},
		description = #{description}
		WHERE		
		id = #{id}
	</update>
	
	<select id="checkUserPermission" parameterType="com.econny.webapp.OxygenEntity.OauthUserEntity" resultType="Integer">
		SELECT COUNT(*) 
		FROM oauth_user ouer
		INNER JOIN oauth_role orle
		ON ( ouer.id = orle.user_id )
		INNER JOIN oauth_service osev
		ON ( orle.id = osev.role_id )
		WHERE
				ouer.del_flag = #{delFlag}
			<if test="name != null and name !=''">
				AND ouer.name = #{name}
			</if>
			<if test="password != null and password !=''">
				AND ouer.password = #{password}
			</if>
			<if test="serviceType != null and serviceType !=''">
				AND osev.service_type = #{serviceType}
			</if>
	</select>

	<select id="findList" parameterType="com.econny.webapp.OxygenEntity.OauthUserEntity" resultMap="userHashEntity">
		SELECT * FROM oauth_user
		WHERE
			del_flag = 0
			<if test="id != null and id !=''">
				AND id = #{id}
			</if>
			<if test="name != null and name !=''">
				AND name = #{name}
			</if>
			<if test="password != null and password !=''">
				AND password = #{password}
			</if>
	</select>

	<select id="qryUserByPage" parameterType="HashMap" resultMap="userHashEntity">
		SELECT usr.id as "id",
		usr.name as "name",
		usr.password as "password"
		<if test="groupBySysId =='group'">,count(distinct
		usr.name) as 'countNam'</if>
		FROM oauth_user usr
		WHERE usr.id &gt;= #{start}
		AND usr.id &lt; ${end}
	</select>

	<insert id="insertUser" parameterType="HashMap">
		INSERT INTO oauth_user (
		name,
		password
		) values(
		#{name},
		#{password}
		)
	</insert>

	<insert id="insertUserBatch" parameterType="HashMap" flushCache="true"
		statementType="PREPARED" keyProperty="" keyColumn="" timeout="20">
		INSERT INTO oauth_user (
		name,
		password
		) values
		<foreach item="item" collection="list" separator=",">
			(#{item.name}, #{item.password})
		</foreach>
	</insert>

	<update id="updateUserById" parameterType="HashMap">
		UPDATE oauth_user
		set name = ${name},
		password = ${password}
		<where>
			<if test="id != null and id !=''">
				id = ${id}
			</if>
			<if test="name != null and name !=''">
				name like CONCAT('${name}','%' )
			</if>
		</where>
	</update>

	<delete id="deleteUserById" parameterType="HashMap">
		DELETE FROM oauth_user
		where
		id =
		#{id}
	</delete>

</mapper>