<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.econny.webapp.OxygenDao.mybatis.dao.OauthRoleMapper">

	<resultMap type="com.econny.webapp.OxygenEntity.OauthRoleEntity"
		id="oauthRoleEntity">
		<result property="id" column="id" />
		<result property="user_id" column="userId" />
		<result property="description" column="description" />
		<result property="del_flag" column="delFlag" />
	</resultMap>
		
	<insert id="save" parameterType="com.econny.webapp.OxygenEntity.OauthRoleEntity">
		INSERT INTO oauth_role (
		id,
		user_id,
		description,
		del_flag
		) values(
		#{id},
		#{userId},
		#{description},
		#{delFlag}
		)
	</insert>
	
	<insert id="saveBatch" parameterType="com.econny.webapp.OxygenEntity.OauthRoleEntity" flushCache="true"
		statementType="PREPARED" keyProperty="" keyColumn="" timeout="20">
		INSERT INTO oauth_role (
		id,
		user_id,
		description,
		del_flag
		) values
		<foreach item="item" collection="list" separator=",">
			(#{item.id}, #{item.userId}, #{item.description}, #{item.delFlag})
		</foreach>
	</insert>

	<delete id="delete" parameterType="com.econny.webapp.OxygenEntity.OauthRoleEntity">
		DELETE FROM oauth_role
		where
		id =
		#{id}
	</delete>
	
	<update id="update" parameterType="com.econny.webapp.OxygenEntity.OauthRoleEntity">
		UPDATE oauth_role
		set user_id = #{userId},
		password = #{password}
		WHERE		
		id = #{id}
	</update>

	<select id="findList" parameterType="com.econny.webapp.OxygenEntity.OauthRoleEntity" resultMap="oauthRoleEntity">
		SELECT * FROM oauth_role
		WHERE
			<if test="id != null and id !=''">
				id = #{id}
			</if>
	</select>
		
</mapper>